<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.net.iconpln.kejaksaan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.NotificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.RekapProyekActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.WalmanInputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListPenugasanActivity"/>
        </activity>
        <activity android:name=".ui.ListBeritaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.BeritaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListBeritaActivity"/>
        </activity>
        <activity android:name=".ui.ListJadwalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.ListPermohonanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.PenugasanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListPermohonanActivity"/>
        </activity>
        <activity android:name=".ui.ListPenugasanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.PermohonanDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListPermohonanActivity"/>
        </activity>
        <activity android:name=".ui.ListProjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListPermohonanActivity"/>
        </activity>
        <activity android:name=".ui.ListArchiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.ListLaporanAkhirActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
    </application>

</manifest>