<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.net.iconpln.apps.tp4">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="id.net.iconpln.apps.tp4.KejaksaanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/tp4_logo"/>
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"/>

        <activity
            android:name="id.net.iconpln.apps.tp4.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.NotificationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.RekapProyekActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.WalmanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListPenugasanActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListBeritaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.BeritaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListBeritaActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListJadwalActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListPermohonanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.PenugasanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListPermohonanActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListPenugasanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.PermohonanDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListPermohonanActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListProyekActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListPermohonanActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.TrackingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.ListProyekActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListArsipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.AboutActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.ListLaporanAkhirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.net.iconpln.apps.tp4.ui.MainActivity"/>
        </activity>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.PimpinanHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.PerkembanganActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="id.net.iconpln.apps.tp4.ui.HistoryActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="id.net.iconpln.apps.tp4.FirebaseToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="id.net.iconpln.apps.tp4.FirebaseMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".jobservice.ReminderJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23a3bc41a56c77048b7bc4053a64226db1800556" />
    </application>

</manifest>